<div *ngIf="!isEmptyObject(userData); else notFound">
    <mat-card class="main">
        <section class=".mat-title" fxLayout="row" fxLayoutAlign="center center">
            <h2>{{userData.username | uppercase}}'s &nbsp; {{userData.housename | uppercase}} &nbsp; HOUSE</h2> &nbsp;&nbsp;
            <button  mat-button color="accent" routerLink="/home"><mat-icon>logout</mat-icon></button>
            
        </section>
        <mat-divider></mat-divider>
        <br><br>
        <div class="container" fxLayout="row wrap"  fxLayout.xs="column" fxLayoutWrap fxLayoutGap="3%" fxLayoutAlign="center">
            <mat-card *ngFor="let character of charactersData" fxFlex="27%" class="sub">
                <img src="{{character.image}}" class="mat-card-image" alt="user avatar">
                <mat-card-content>
                <h2>{{character.name}}</h2>
                <p>Actor : {{character.actor}}</p>
                </mat-card-content>
                <div>
                     <button type="submit" [routerLink]="['/house', character.name]" mat-raised-button color="primary">Details</button>
                </div>
            </mat-card>
        </div>
    </mat-card>
</div>

<ng-template #notFound>
    <h1>404 Page Not Found :(</h1>
    <button  mat-button color="accent" routerLink="/home"><mat-icon>refresh</mat-icon></button>  
</ng-template>
