<div>
  <mat-card>
    <section class=".mat-title" fxLayout="row" fxLayoutAlign="center center">
        <h2>Hogwarts School of Witchcraft and Wizardry : {{charDetails.name}}</h2> &nbsp;&nbsp;
        <button  mat-button color="accent" routerLink="/house"><mat-icon>arrow_back</mat-icon></button>
    </section>
    <mat-divider></mat-divider>
    <br><br>

    <mat-grid-list cols="2" rowHeight="2:1">
      <mat-grid-tile>
        <ul>
          <li><h3>Species : {{charDetails.species | uppercase}}</h3></li> 
          <li><h3>Gender : {{charDetails.gender | uppercase}}</h3></li>
          <li><h3>HairColor : {{charDetails.hairColour | uppercase}}</h3></li>
          <li><h3>EyeColor : {{charDetails.eyeColour | uppercase}}</h3></li>
          <li><h3>Ancestry : {{charDetails.ancestry | uppercase}}</h3></li>
          <li><h3>House : {{charDetails.house | uppercase}}</h3></li>
        </ul>
      </mat-grid-tile>
      <mat-grid-tile>
        <img class="img-responsive" src="{{charDetails.image}}">
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card>    
</div>
